.mainColor {
    transition: background-color .3s ease;

    &.light {
        background-color: #e5e5e5;
    }

    &.dark {
        background-color: #000;
    }
}

.outlet {
    max-width: 1200px;
}